basemap
basemap-data
brotlipy
certifi
chardet
charset-normalizer
CIRpy
click
cloudpickle
decorator
docker-pycreds
docutils
et-xmlfile
exceptiongroup
executing
fastapi
flit_core
fonttools
frozenlist
future
idna
imagesize
importlib-metadata
isort
jedi
Jinja2
joblib
kiwisolver
littleutils
llvmlite
lml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
metis
mordred
multidict
munkres
nest-asyncio
networkx
numba
numexpr
numpy
numpydoc
ogb
openpyxl
outdated
packaging
pandas
parso
pexpect
pickleshare
Pillow
ply
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycparser
pydantic
pydantic_core
pyexcel
pyexcel-io
pyexcel-xls
pyexcel-xlsx
Pygments
pyOpenSSL
pyparsing
pyproj
PyQt5-sip
pyshp
PySocks
rdkit
rdkit-pypi
requests
rich
scikit-learn
scipy
sentry-sdk
setproctitle
shap
shortuuid
sigtools
sip
six
slicer
smmap
sniffio
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
starlette
synchronicity
tabulate
tblib
texttable
threadpoolctl
torch
torchaudio
torchvision
tornado
tqdm
traitlets
typer
types-certifi
types-toml
typing_extensions
urllib3
wandb
watchfiles
wcwidth
xlrd
xlrd2
XlsxWriter
xlwt
yarl
zipp
